* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    background-color: #037F8C;
}

section {
    background-color: #0D0D0D;
    width: 250px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.438);
}

table td {
    display: inline-block;
}

.btn {
    margin: 3px;
    width: 50px;
    height: 40px;
    cursor: pointer;
    border: none;
    color: whitesmoke;
    border-radius: 2px;
    background-color: #1a1a1a;
    transition: all 300ms ease-in-out;
}

.btn:hover {
    background-color: #03658C;
}

.btn img.del{
    width: 60%;
    position: center center;
}

.btn img.div{
    width: 30%;
    position: center center;
}

.btn.op, .AC, .igual {
    background-color: #F2E205;
    color: #0D0D0D;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.btn.op:hover, .AC:hover, .igual:hover {
    background-color: #dacb00d2;
    color: #0D0D0D;
}

.apagar {
    background-color: whitesmoke;
}

.apagar:hover {
    background-color: #c2c2c2;
}

.visor {
    height: 100px;
    font-size: 35px;
    color: whitesmoke;
    text-align: right;
    word-wrap: break-word;
    border:  1px solid #1a1a1a;
    margin: 5px;
    border-radius: 5px;
    padding-right: 5px;
}
